@charset "UTF-8";

/*reset*/
*{margin:0;padding:0}
li{list-style:none;}
a{text-decoration:none;}
img{border:0; vertical-align: middle;}
body{font-family: 'Noto Serif KR', serif;background: #fff; color:#333; font-size:16px; }


.visual,.visual,.new,.banerwrap{width:1440px;margin:auto}


#body_wrap{}

header{background:#fff;}
#header_wrap{height: 140px; }
    .header_top{position:relative;height: 90px;}
    .header_top .logo{position:absolute;top:15px;left:50%;transform: translate(-50%);}
    .header_top .logo h1{ width:260px; background: url('../img/logo.png')no-repeat 0 0/ 260px 62px;text-indent: -9999px;}
    .header_top .logo a{display:block; width:260px; }

    .header_top .top_menu{position: absolute; top:40px;right:20px; float:right;}
        .top_menu li{float:left;margin-right:15px;}
        .top_menu a{display:block;margin-left:-8px; width:20px;height:20px; padding:0 8px;}
        .top_menu .ham_btn{display:none;}
        .top_menu .user{width:32px; background:url('../img/spritesheet.png')no-repeat -78px -51px /101px 86px; text-indent: -9999px;} 
        .top_menu .cart{width:32px;background:url('../img/spritesheet.png')no-repeat -76px -26px /101px 86px;text-indent: -9999px;}
        .top_menu .search{width:32px;background:url('../img/spritesheet.png')no-repeat -85px -4px /120px 100px;text-indent: -9999px;margin-left:-10px;}

/* MAIN MENU */
    .header_b{text-align:center; background:#fff;width:100%;}
        ul.gnb{display:inline-block; width:1440px;text-align: center; overflow: hidden;}
        .gnb li{display:inline-block; width:9%; margin:-4px;padding:-4px; }
        .gnb a{display:block;  line-height:50px; color:inherit;text-align: center;}
        
        .gnb a:hover{
            color:#a39885; 
        }
    .header_b:after{display:block; content:'';clear:both;}
    .header_b.stick{position:fixed; width:100%; top:0px; background:white;z-index: 1000;}
/*SUB MENU*/
        .sub_menu{display:none;position:absolute; width:150px;background:rgba(255,255,255,0.7); margin-left:-10px; z-index: 900; padding-bottom:10px; border-radius: 0 0 3% 3%;}
        .sub_menu li{display:block;width:auto;}
        .sub_menu a{font-size:14px; color: #333; line-height:30px;width:150px;letter-spacing:-1px;}

header:after{display:block; content:'';clear:both;}


/********** CONTENT **************/
#contents
    .visual{}
    h2{font-size:40px; font-weight:normal; margin:20px 0;}
/* SLIDES START */    
    #slides {
        display: none
      }
  
      #slides .slidesjs-navigation {
        margin-top:3px;
        display:none;
      }
      #slides img{
        width:100%;
      }
      
      .slidesjs-pagination { 
        position: absolute;
        margin: 20px 0 0;
        float: right;
        list-style: none;
        left:50%;transform:translate(-50%);
      }
  
      .slidesjs-pagination li {
        float: left;
        margin: 0 8px; 
      }
  
      .slidesjs-pagination li a {
        display: block;
        width: 13px;
        height: 0;
        padding-top: 13px;
        background-image: url('../img/pagination_b.png');
        background-position: 0 0;
        overflow: hidden;
      }
  
      .slidesjs-pagination li a.active,
      .slidesjs-pagination li a:hover.active {
        background-position: 0 -13px
      }
  
      .slidesjs-pagination li a:hover {
        background-position: 0 -26px
      }
  
      #slides a:link,
      #slides a:visited {
        color: #fff
      }
  
      #slides a.more:hover,
      #slides a.more:active {
        text-shadow: 0 0 5px #73645b;
        background:rgba(115, 100, 91,.5);
      }
  
      .navbar {
        overflow: hidden
      }
    /* .slide_document */  
    .slide_document{position: relative;}
    .slide_document .imgTxt{position:absolute; top:40%; left:50%; margin-left:-720px; width:1440px;height:400px; color:white;text-align:center; }
    .slide_document .black{color:#333;}
      .imgTxt p{padding:20px 0 50px; font-size:14px}
      .imgTxt a.more{border:1px solid #f9f9f9; padding:5px 30px; font-size: 12px;}
    .slide_document .black > a.more{border:1px solid #333; color:#333!important;}
/* SLIDES END */  

/* BEST */  
.best{width: 1440px; margin:100px auto; text-align:center;}

  .product{ display:inline-block; margin:20px 10px 20px 0;}
  .last{margin-right:0;}
  
  .pro_img{position:relative;}
  .product img{}
  .product .prod_info a{color:#333;} 
      .prod_info h4{ height:40px; padding:20px 0; font-size:16px;font-weight:bold;}
      .prod_info p{font-size: 12px; color:#999; margin-bottom:10px; }
      .prod_info span.cost{display:block;text-decoration:line-through ; font-size:12px; color:#999}
      .prod_info span.price{font-size:16px;}


  .interest{display:none;position:absolute;width:100%;height:100%; top:0%;left:50%;transform:translate(-50%); }
      .interest .over{position:absolute; display: block; width: 32px; height: 32px; background:url('../img/heart.png')no-repeat; background-size:100%;top:45%;left:50%; transform: translate(-50%);text-indent: -9999px;}
      .interest .over:hover{background:url('../img/heart_b.png')no-repeat;background-size:100%; }

/*baner*/
  .baner{
    position:relative; 
    height:400px; 
    background:url('../img/img_or/road.jpg')no-repeat 0 -300px;
    background-position: center;
    background-attachment: fixed;
    filter:grayscale(0.4)
  }
    .baner_txt{position:absolute; top:30%; left:50%; transform:translate(-50%); width:600px;height:400px; color:white;text-align:center;}
    .baner_txt p{margin-top:30px; font-size:14px;}


/*MONTH*/
.month{width: 1440px; margin:100px auto; text-align:center;}
.month .title{}
      .title span{ color:#73645b; font-size:12px;margin-bottom:20px;}
      .title p{font-size: 14px; margin-top:10px;line-height:26px; color:#999; margin-bottom:10px;}
      .title button{all: unset; color:#73645b; margin-bottom:40px; font-size:12px;border-radius: 2px; cursor:pointer;}

      .month_product{position:relative;display:inline-block;margin-right:10px }
        .month_prod_info{display:none;position:absolute;width:100%;height:100%; top:0%;left:50%;transform:translate(-50%); }
        .over_bg{position:absolute;top:0; left:0; width: 100%;height: 100%; background:rgba(0,0,0,.5);}
        .month_prod_info .over{position:absolute;width:400px; top:33%;left:50%;transform:translate(-50%); display:block; color:white;
          }
          .over h4{font-size:16px;}
          .over span{display:block; font-size:14px; margin:20px 0;}
          .over p{font-size: 12px; color:#f9f9f9; margin-bottom:10px; }
/*NEW*/
.new{width: 1440px; margin:100px auto; text-align:center;}
 

/*baner*/
.baner_youtube{background: #fbf7ec; padding:10px 0;}
.baner_wrap{width: 1440px; margin:60px auto; text-align:center;}
.baner_wrap span{font-size:12px; color:#999}
.baner_wrap h2{color:#73645b; margin: 10px 0 20px 0;}
.baner_wrap p{font-size:14px;color:#999;margin-bottom:10px;line-height:25px;}
.baner_wrap button{all: unset; color:#73645b; margin-bottom:40px; font-size:12px;border-radius: 2px; cursor:pointer;}

.baner_wrap iframe{width:1440px;height:700px;}

/*insta*/
.insta{}
.insta_wrap{width: 1440px; margin:100px auto; text-align:center;}
.insta_wrap h2{display:inline-block;width:300px; background:url('../img/icon/add.png')no-repeat 250px;background-size: 32px 32px; }
.insta_wrap h2 > a{color:#333;}

.insta_wrap ul{overflow:hidden;margin:80px 0;}
.insta_wrap li{display: block;float:left;margin:0 20px 20px 0;}
.insta_wrap li.last{margin-right:0;}

.insta_wrap .insta_img a{display:inline-block;  overflow: hidden;}
.insta_wrap a img{transition:0.5s ease;}
.insta_wrap a:hover img{transform:scale(1.05);opacity:0.7}


/*footer*/
footer{
    height:260px;background: #d7d1d1;
}
#footer_in{height:50px; border-bottom:2px solid #73645b}

.footer_top{overflow:hidden;height:50px; width: 1440px; margin: auto; text-align:center;font-size:14px;}
.footer_top h2{float:left; display: block; margin-top:-2px; width:260px;height:62px;background:url('../img/logo_br.png')no-repeat;background-size: 100%;text-indent: -9999px;
}
.footer_top ul{margin-top:18px}
.footer_top li{float:left;}
.footer_top a{padding:0 10px; color:#333}
.footer_top span{float:right;}

.footer_bottom{width: 1440px; margin: 20px auto 40px; overflow:hidden; }
.footer_bottom section{font-size:12px;}
.footer_bottom .left{float:left;margin-left:10px}
.footer_bottom .right{float:right;margin-right: 70px;}
.footer_bottom p{margin:10px 0;}
.footer_bottom span{color:#73645b; margin-left:10px;}


@media (max-width:1440px){
  /* MAIN MENU */
  ul.gnb{width:100%;}
  .gnb a{font-size:15px;}
  /*SUB MENU*/
  .sub_menu{width:auto; margin-left:-20px;}

  /*visual*/
  .visual{
    width:auto;
  }

}

@media (max-width:1025px){
  /* MAIN MENU */
  ul.gnb{ width:960px;}
  .gnb a{font-size:14px}
  
  /*SUB MENU*/
  .sub_menu a{font-size:14px; margin-left:-10px}

  /*visual*/
  .visual{
    width:960px;
  }
}

@media (max-width:768px){
  #header_wrap{height: 90px;}
      .header_top{position:relative;height: 90px;}
      .header_top .logo{
        left:10px; 
        transform:translate(0%);
      }
        .top_menu .ham_btn{
          display: block;
          width:32px;
          background:url('../img/bars-solid.svg')no-repeat;
          text-indent: -9999px;
        }
        .top_menu .cart{display:none; }
/* MAIN MENU */
  .header_b{
    background:#fbf7ec;
    position:fixed;
    top:0;
    right:0;
    text-align:left;
    width:60%; 
    height:100%;
    z-index:999;
  }
  ul.gnb{
    display:block; 
    width:auto;
    text-align:left; 
    margin-top:60px;
  }
  .gnb li{
    display:block; 
    width:auto; 
    margin-left:48px;
    padding:0px; 
  }
  .gnb a{
    line-height:50px;
    text-align: left;
    font-size:16px;
  }

/*SUB MENU*/
  .sub_menu{
    display:none;
    border:1px solid red
    position:relative; 
    width:150px;background:rgba(255,255,255,0.7); margin-left:-10px; z-index: 900; padding-bottom:10px; border-radius: 0 0 3% 3%;}
  .sub_menu li{display:block;width:100%;}
  .sub_menu a{font-size:14px; color: #333; line-height:30px;width:150px;letter-spacing:-1px;}      



  .visual{
    width:724px;
  }
}
@media (min-width:320px){
  .visual{}
}