@charset "UTF-8";


#login{}
.login_wrap{
  width:1440px;
  height:800px;
  margin:auto;
  text-align: center;
}
.login_wrap h2{
  margin:80px auto 60px;
  font-size:30px;
  padding:20px;
  
}
.login_wrap h2:after{
  display: block;
  content:'';
  width:60%;
  height:1px;
  background:#ddd;
}

.login_wrap .box_wrap{}
  .box_wrap .id{}
  .box_wrap .id p{}

  .box_wrap .pw{}
  .box_wrap .pw p{}
