@charset "UTF-8";

main#mypage{font-family:'NanumGothic','Segoe UI', Roboto, Oxygen, sans-serif ;background: #fff; color:#333; font-size:16px; }

#mypage{}
.mypage_wrap{
  width:1440px;
  margin:60px auto;
  text-align:center;
}
.mypage_wrap h2{
  font-size:30px;
  margin:60px 0;
  font-weight: normal;
  font-family: 'Noto Serif KR', serif;
}
.name {
  margin:20px 0;
}
.name p{
  font-size: 20px;
  margin:20px 0;
}
.name p span{
  font-weight: bold;
}
.name p.level{
  font-size:16px;
  color:#73645D; 
}

.coupon{
  width:760px;
  margin:auto;
}
.coupon_wrap{
  width:100%;
  height:auto;
  background:#D7D1D1;
}
.coupon_wrap ul{
  border:1px solid blue;
  padding:60px 0;
}
.coupon_wrap li{
  display: inline-block;
  width:24%;
}
.coupon_wrap a{
  display: block;
  border:1px solid red;
  padding-top:150px;
}
.coupon_wrap a:before{}











@media (max-width:1440px){
  .login_wrap{
    width:100%;
  }
}

@media (max-width:450px){
  .login_wrap{
    max-width:450px;
  }
}
