@charset "UTF-8";



.ranking{width: 1440px; margin:100px auto; text-align:center;font-family:'NanumGothic','Segoe UI', Roboto, Oxygen, sans-serif; }

.ranking h2{
  font-family: 'Noto Serif KR', serif;
}
.ranking .tab{
  margin:0 auto 80px;
}
  .tab ul{}
  .tab li{
    display: inline-block;
    position:relative;
  }
  .tab li:after{
    display: block;
    content:'';
    width:1px;
    height:10px;
    position:absolute;
    top:4px; right:0;
    background: #999;
  }
  .tab a{
    display:block;
    font-size:14px;
    color:#f9f9f9;
    padding:0 10px;
  }
  .tab a:hover,.tab a:focus{
    color:#333
  }

  .arrange{
    text-align: right;
  }
  .arrange .sel_arrange{
    border:1px solid #999;
    border-radius: 5px;
    padding:4px 10px;
    outline: none;
  }




  .product{ display:inline-block; margin:20px 10px 30px 0;}
  .last{margin-right:0;}
  
  .pro_img{position:relative;}
  .product img{}
  .product .prod_info a{color:#333;} 
      .prod_info h4{ height:40px; padding:10px 0 12px 0; font-size:16px;font-weight:bold;}
      .prod_info p{font-size: 12px; color:#999; margin-bottom:10px; }
      .prod_info span.cost{display:block;text-decoration:line-through ; font-size:12px; color:#999}
      .prod_info span.price{font-size:16px;}


  .interest{display:none;position:absolute;width:100%;height:100%; top:0%;left:50%;transform:translate(-50%); }
      .interest .over{position:absolute; display: block; width: 32px; height: 32px; background:url('../img/heart.png')no-repeat; background-size:100%;top:45%;left:50%; transform: translate(-50%);text-indent: -9999px;}
      .interest .over:hover{background:url('../img/heart_b.png')no-repeat;background-size:100%; }




@media (max-width:1440px){
  .login_wrap{
    width:100%;
  }
}

@media (max-width:450px){
  .login_wrap{
    max-width:450px;
  }
}
